* {
  font-family: "Courier New", Courier, monospace;
}

*, body {
    margin:0;
    padding:0;
    transition: all 0.5s ease-out;
}

html {
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}